<settings>
    <mirrors>
        <mirror>
            <id>centralMirror</id>
            <name>Maven Central mirror</name>
            <url>https://nexus.vimpelcom.ru/repository/maven-all-public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <!--mirror>
          <id>nexus</id>
          <mirrorOf>*</mirrorOf>
          <url>https://nexus.vimpelcom.ru/repository/proxy__mvn__group/</url>
        </mirror-->
    </mirrors>
    <profiles>
        <profile>
            <id>beeworksNexus</id>
            <repositories>
                <repository>
                    <id>team</id>
                    <name>BeeWorks Team repo</name>
                    <url>https://nexus.vimpelcom.ru/repository/eafdmmart__mvn/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>beeworksAll</id>
                    <name>BeeWorks Internal repo</name>
                    <url>https://nexus.vimpelcom.ru/repository/maven-all-internal/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>beeworksGroup</id>
                    <name>BeeWorks Group repo</name>
                    <url>https://nexus.vimpelcom.ru/repository/proxy__mvn__group/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>beeworksGroup</id>
                    <name>BeeWorks Group repo</name>
                    <url>https://nexus.vimpelcom.ru/repository/proxy__mvn__central/</url>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>centralMirror</id>
                    <url>https://nexus.vimpelcom.ru/repository/maven-all-public/</url>
                </repository>
                <repository>
                    <id>nexus</id>
                    <url>https://nexus.vimpelcom.ru/repository/maven-snapshots/</url>
                </repository>
                <repository>
                    <id>maven-releases</id>
                    <url>https://nexus.vimpelcom.ru/repository/maven-releases/</url>
                </repository>
                <repository>
                    <id>maven</id>
                    <url>https://nexus.vimpelcom.ru/repository/maven/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <name>Maven Central mirror</name>
                    <url>https://nexus.vimpelcom.ru/repository/maven-all-public/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>beeworksNexus</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>team</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>beeworksAll</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>beeworksGroup</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>nexus</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>maven-releases</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>centralMirror</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>maven</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>releases</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>${repo.login}</username>
            <password>${repo.pwd}</password>
        </server>
    </servers>
</settings>